/* .modal-dialog {
  max-width: 80% !important;
} */
.row-modal-product {
  background-color: white;
  border-radius: 15px;
}
.content-product {
  background-color: white;
  border-radius: 15px;
}
.content-info {
  padding: 1rem 2rem;
  padding: 3%;
  background-color: #2D2D2D;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  color: white;
}
.title-modal-product {
  font-size: 21px;
  text-transform: uppercase;
}
.priceNotDiscount {
  margin-bottom: 0rem;
  font-size: 14px;
  text-decoration: line-through;
}
.priceDiscount {
  color: #f00;
}
.priceDisplayNone {
  display: none;
}
.content-price-modal {
  border-bottom: 1px solid #dad7d7;
  padding: 4% 0;
}
.product-sku {
  display: block;
}
.product-sku a {
  color: #FBDF3E;
  text-decoration: none;
}
.product-sku a:hover {
  color: #ffcc33;
}
.carousel-content {
  margin: 1em 0;
}
.carousel-size {
  width: 100%;
  height: 65vh;
}
.image-carousel {
  margin: auto;
  height: auto;
  max-height: 65vh;
  width: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0.777) sepia(0.11) hue-rotate(-0deg) saturate(1);
}

.content-share-modal .btn-warning:hover {
  color: white;
}

/*PHONES*/
@media (max-width: 767px) {
  .content-info {
    padding: 2rem;
    border-top-right-radius: 0px;
    border-bottom-left-radius: 15px;
  }
}
