<div class="row">

    <div class="col-4">
      {{product.name}}
      {{product.sku}}
      {{getPrice(product.price)}}

      <button>
        Favorito
      </button>
      <button>
        Compartir
      </button>

      <share-buttons
        [include]="['facebook', 'twitter', 'google', 'messenger', 'whatsapp', 'email', 'print', 'copy']"
        [show]="8"
        [size]="2"
        [url]="'https://twitter.com/'"
        [autoSetMeta]="true">

      </share-buttons>
      <p>
        {{product.short_description}}
      </p>

      <a href="/producto/{{product.url}}">
        Ver más
      </a>

      <div class="row">
        <div class="col-sm">
          <button class="btn btn-warning" (click)="subtractQuantity()">-</button>
        </div>
        <div class="col-sm">
          {{quantity}}
        </div>
        <div class="col-sm">
          <button class="btn btn-warning" (click)="addQuantity()">+</button>
        </div>
      </div>
  
      <button class="btn btn-warning" (click)="addProductToCart()">Agregar al carrito</button>

    </div>

    <div class="col-8">
      
    <div id="carouselProductControls" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div [ngClass]="['carousel-item', item.activeClass]" *ngFor="let item of getImages()">
          <img src="{{item.image}}" class="d-block w-100" alt="">
        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselProductControls" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselProductControls" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>

    </div>

</div>