<div class="content-product">
  <div class="row row-modal-product">

    <div class="col-12 col-md-6 col-lg-7 carousel-content">
      <div id="carouselProductControls" class="carousel slide carousel-size d-flex align-items-center" data-ride="carousel">
        <div class="carousel-inner">
          <div [ngClass]="['carousel-item', item.activeClass]" *ngFor="let item of getImages()">
            <img src="{{item.image}}" class="d-block image-carousel img-fluid" alt="">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselProductControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselProductControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-5 content-info">
      <h3 class="title-modal-product">
        {{product.name}} 
        <small class="text-muted product-sku">{{product.sku}}</small>
      </h3>

      <div class="content-price-modal">
        <div class="mb-1 mt-2">
          <h2 [ngClass]="{'priceNotDiscount': product.discount}" class="mb-0">
            {{getPrice(product.price)}}
          </h2>
          <h2 [ngClass]="(product.discount)?'priceDiscount':'priceDisplayNone'" class="mb-0">
            {{getPrice(product.discount)}}
          </h2>
        </div>
        <div *ngIf="limitedProducts" class="text-muted mt-2">
          <p>*Solo 5 disponibles</p>
        </div>
      </div>

      <p class="text-justify mt-3 mb-0">
        {{product.short_description}}
      </p>

      <p class="product-sku">
        <a href="/producto/{{product.url}}">
          Ver más
        </a>
      </p>

      <div class="row">
        <div class="col-10 content-price">
          <div *ngIf="!unavailable" class="content-status">
            <div class="card section-shop-product text-center">
              <div class="row d-flex align-items-center pt-3 pb-3">
                <div class="offset-3 col-2">
                  <button class="btn btn-outline-warning btn-circle-shop-product btn-yellow-text" (click)="subtractQuantity()">-</button>
                </div>
                <div class="col-2">
                  {{quantity}}
                </div>
                <div class="col-5 text-left">
                  <button class="btn btn-outline-warning btn-circle-shop-product btn-yellow-text" (click)="addQuantity()">+</button>
                </div>
              </div>
              
              <button class="btn btn-warning btn-block btn-productToCart-shop-product" (click)="addProductToCart()">Agregar al carrito</button>
            </div>
          </div>
          <div *ngIf="unavailable" class="content-status">
            <div class="btn btn-warning btn-block btn-productToCart-shop-product btn-unavailable">Agotado</div>
          </div>
        </div>
        <div class="col-2">
          <div class="d-flex flex-column justify-content-start align-items-center mb-1 mt-2">
            <label class="btn btn-outline-warning" (click)="toggleFavorite()">
              <i class="fas fa-heart" *ngIf="product.isFavorite"></i>
              <i class="far fa-heart" *ngIf="!product.isFavorite"></i>
            </label>
            <label class="btn btn-outline-warning" (click)="toggleShare()">
              <i class="fa fa-share"></i>
            </label>
          </div>
        </div>
      </div>
      
      <share-buttons *ngIf="showShare"
        [include]="['facebook', 'twitter', 'messenger', 'whatsapp', 'email', 'print', 'copy']"
        [show]="8"
        [size]="2"
        [url]="getShareUrl()"
        [autoSetMeta]="true">
      </share-buttons>
    </div>
  </div>

</div>