.modal-dialog {
  max-width: 80% !important;
}
.content-info {
  padding: 1rem 0rem 1rem 2rem;;
}
.product-sku {
  display: block;
}
.btn-productToCart {
  border-radius: 35px;
}
.carousel-content {
  margin: 1em 0;
}
.carousel-size {
  width: 100%;
  height: 65vh;
}
.image-carousel {
  margin: auto;
  max-height: 65vh;
  height: auto;
  width: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0.777) sepia(0.11) hue-rotate(-0deg) saturate(1);
}