footer{
    background-color: #FBDF3E;
}
i,
.item-faq {
    color: dimgray;
}
i:hover,
.item-faq:hover,
.item-chat:hover {
    color: #3e3e3e;
}
.text-chat {
    color: #ffffff;
    position: relative;
    margin: 25% 0;
}
.icon-chat {
    position: absolute;
}