<footer class="fixed-bottom">
  <div class="container-fluid">
    <div class="d-flex align-items-center justify-content-between">
      <a class="item-faq text-decoration-none" href="/faq">
        FAQ
      </a>
      <ul class="nav">
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.facebook.com/Yellowtailpesca/">
            <i class="fab fa-facebook-f"></i>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" target="_blank" href="https://www.instagram.com/yellowtailpesca/">
            <i class="fab fa-instagram"></i>
          </a>
        </li>
      </ul>
      <a class="item-chat text-decoration-none" href="#">
        <!-- <img src="/assets/img/logo/yt-01.png" class="chat-img" alt="Chat"> -->
        <p class="text-chat text-muted">Chat</p>
      </a>
    </div>
  </div>
</footer>

