<!--NAVBAR INICIO DE SESION-->
<nav class="navbar-dark bg-dark">
  <ul class="nav justify-content-end">
    <li class="nav-item">
      <a class="nav-link text-decoration-none" href="#">Iniciar sesión</a>
    </li>
    <li class="nav-item">
      <a class="nav-link text-decoration-none" href="#">Crear cuenta</a>
    </li>
    <li>
      <a class=" nav-link text-decoration-none" href="">
        <i class="fas fa-shopping-cart"></i>
        <span> (0)</span> carrito $<span>0</span> MX 
      </a>
    </li>
  </ul>
</nav>
<!--NAVBAR BUSQUEDA-->
<nav class="navbar-light bg-light">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <form id="inputBuscar" class="form-inline">
          <input class="form-control form-control-sm" type="search" placeholder="Buscar" aria-label="search">
        </form>
      </li>
    </ul>
  </nav>
<!--NAVBAR SECCIONES-->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="#">Logo</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse justify-content-end" id="navbarsExample03">
    <ul class="navbar-nav">
      <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inicio</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="#">Producto</a>
            <a class="dropdown-item" href="#">Novedades</a>
            <a class="dropdown-item" href="#">Destacados</a>
            <a class="dropdown-item" href="#">Tienda Física</a>
          </div>
        </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Accesorios</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Canas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Carretes</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Combos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Kayaks</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Lineas</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Señuelos</a>
      </li>
    </ul>
  </div>
</nav>
