<header class="fixed-top">
  <!--NAVBAR INICIO DE SESION-->
  <nav class="navbar-dark bg-dark">
    <ul class="nav justify-content-end">
      <li class="nav-item">
        <a class="nav-link text-decoration-none text-white" href="#"  (click)="openFormModal()">Iniciar sesión</a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-decoration-none text-white" href="#" (click)="openFormModal()">Crear cuenta</a>
      </li>
      <li>
        <a class=" nav-link text-decoration-none text-white" href="">
          <i class="fas fa-shopping-cart"></i>
          <span> (0)</span> carrito $<span>0</span> MX 
        </a>
      </li>
    </ul>
  </nav>
  <!--NAVBAR BUSQUEDA-->
  <nav class="nav navbar-light bg-light pt-2 justify-content-center">
    <div class="col-sm-3"></div>
    <div class="justify-content-center col-sm-7">
      <form class="my-auto d-inline w-50">
        <div class="input-group">
            <input type="text" class="form-control border border-right-0" placeholder="Buscar...">
            <span class="input-group-append">
            <button class="btn btn-outline-secondary border border-left-0" type="button">
                <i class="fa fa-search"></i>
            </button>
          </span>
        </div>
      </form>
    </div>
    <!--DROPDOWN-->
    <div class="dropdown col-sm-2 text-right pr-4">
      <i class="fas fa-bars fa-2x" data-toggle="dropdown"></i>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Tienda</a>
        <a class="dropdown-item" href="#">Combos</a>
        <a class="dropdown-item" href="#">Productos Nuevos</a>
        <a class="dropdown-item" href="#">Productos Destacados</a>
        <a class="dropdown-item" href="#">Sala de Trofeos</a>
        <a class="dropdown-item" href="#">Acerca de nosotros</a>
        <a class="dropdown-item" href="#">Blog</a>
        <a class="dropdown-item" href="#">Torneo</a>
      </div>
    </div>
  </nav>
  <!--NAVBAR SECCIONES-->
  <nav class="navbar navbar-expand-sm navbar-light bg-light">
    <a class="navbar-brand" href="#">Logo</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarsExample03">
      <ul class="navbar-nav">
        <li class="nav-item dropdown">
          <a class="nav-link" href="" id="dropdown03" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Inicio</a>
          <div class="dropdown-menu" aria-labelledby="dropdown03">
            <a class="dropdown-item" href="#">Producto</a>
            <a class="dropdown-item" href="#">Novedades</a>
            <a class="dropdown-item" href="#">Destacados</a>
            <a class="dropdown-item" href="#">Tienda Física</a>
          </div>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categoria/accesorios">Accesorios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categoria/canas">Cañas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categoria/carretes">Carretes</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categoria/combos">Combos</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categoria/kayaks">Kayaks</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categoria/lineas">Lineas</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/categoria/senuelos">Señuelos</a>
        </li>
      </ul>
    </div>
  </nav>
</header>

