.bg-principales{
  background-color: #2D2D2D;
}
#featuredProductsSection::before {
  content: "";
  height: 7rem;
  margin-top: -7rem;
  display: block;
  visibility: hidden;
}
.description {
  font-size: 17px;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}
.img-featured {
  width: 100%;
}
.content-1 {
  background: url("/assets/img/principal/2.png") center 5rem / 100% 572px no-repeat fixed transparent;
  height: 499px;
}
.content-2 {
  background: url("/assets/img/principal/4.png") center 7.5rem / 100% 500px no-repeat fixed transparent;
  border-top: 1px solid #ccc;
  height: 499px;
}
.content-3 {
  background: url("/assets/img/principal/3.png") center 5rem / 100% 572px no-repeat fixed transparent;
  border-top: 1px solid #ccc;
  height: 499px;
}
@media (max-width: 767px) {
  .content-img {
    background-position: center 70%;
    background-size: 220%;
    height: 70vh;
  }
  .content-degraded {
    height: 70vh;
  }
  .link {
    height: 70vh;
    top: -70vh;
  }
}