.bg-principales{
  background-color: #2D2D2D;
}
#featuredProductsSection::before {
  content: "";
  height: 7rem;
  margin-top: -7rem;
  display: block;
  visibility: hidden;
}
.description {
  font-size: 17px;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}
.img-featured {
  width: 100%;
}
.content-1 {
  background: url("/assets/img/principal/001.1.png") center 7rem / auto 85% no-repeat fixed transparent;
}
.content-2 {
  background: url("/assets/img/principal/002.1.png") center 7rem / auto 85% no-repeat fixed transparent;
}
.content-3 {
  background: url("/assets/img/principal/003.1.png") center 7rem / auto 85% no-repeat fixed transparent;
}
.content-4 {
  background: url("/assets/img/principal/004.1.png") center 7rem / auto 85% no-repeat fixed transparent;
}
.content-5 {
  background: url("/assets/img/principal/005.1.png") center 7rem / auto 85% no-repeat fixed transparent;
}
.content-6 {
  background: url("/assets/img/principal/006.1.png") center 7rem / auto 85% no-repeat fixed transparent;
}
ul a:not(:first-child) li.content-img {
  border-top: 1px solid #ccc;
}
ul a li.content-img {
  height: 499px;
}
@media (max-width: 991px) and (min-width: 768px) {
  ul a li.content-img {
    background-position: center;
    background-size: 80% auto;
  }
}
@media (max-width: 767px) {
  ul a li.content-img {
    background-position: center;
    background-size: 80% auto;
    height: 35vh;
  }
}