<section class="bg-principales" id="featuredProductsSection">
    <div class="container">
      <!--PRIMER APARTADO-->
      <div class="row pt-5 pb-3">
        <!--PRODUCTO-->
        <div class="col-12 text-light text-center">
          <p class="display-4">Sean Raven</p>
          <p class="display-4">SR1500</p>
          <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa et necessitatibus quasi doloribus voluptatum temporibus aspernatur praesentium saepe ducimus, quisquam perspiciatis maxime, minus atque molestiae aliquid sed, quo at.</p>
          <p class="description text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa et necessitatibus quasi doloribus voluptatum temporibus aspernatur praesentium saepe ducimus, quisquam perspiciatis maxime, minus atque molestiae aliquid sed, quo at.</p>
          <button class="btn btn-warning mb-5" type="button">Comprar</button>
          <ul class="list-unstyled">
            <a href="/producto/Penn-CFT-Carrete-de-Spinning-Conflict">
              <li class="content-1 content-img"></li>
            </a>
            <a href="/producto/Penn-CFT-Carrete-de-Spinning-Conflict">
              <li class="content-2 content-img"></li>
            </a>
            <a href="/producto/Penn-CFT-Carrete-de-Spinning-Conflict">
              <li class="content-3 content-img"></li>
            </a>
          </ul>
        </div>
      </div>
    </div>
  </section>