.bg-principales{
  background-color: #2D2D2D;
}
#featuredProductsSection::before {
  content: "";
  height: 7rem;
  margin-top: -7rem;
  display: block;
  visibility: hidden;
}
.description {
  font-size: 17px;
  width: 80%;
  margin: auto;
  margin-bottom: 1rem;
}
.layer {
  text-align: center;
}
.layer img {
  width: 70%;
  margin-top: 3%;
}