<div class="card">
  <div class="card-body">
    <h5 class="card-title">Facturación</h5>
    <form>
      <div class="form-row">
        <div class="col">
          <div class="custom-control custom-checkbox">
            <input type="checkbox" class="custom-control-input" id="requiredCheck">
            <label class="custom-control-label" for="requiredCheck">¿Requiere factura?</label>
          </div>
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col-6 col-md-8">
          <label>Nombre legal</label>
          <input type="text" name="legalName" value="{{taxInformation.legalName}}" class="form-control" placeholder="Nombre">
        </div>
        <div class="col-6 col-md-2">
          <label>RFC</label>
          <input type="text" name="rfc" value="{{taxInformation.rfc}}" class="form-control" placeholder="RFC">
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col">
          <label>Dirección</label>
          <input type="text" name="addressId" value="{{taxInformation.addressId}}" class="form-control" placeholder="Dirección">
        </div>
      </div>

      <div class="form-row mt-2 text-right">
        <div class="col">
          <button class="btn btn-outline-warning">
            <i class="fa fa-pen"></i> Editar
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
