<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Facturación</h5>

    <form id="collapseForm" *ngIf="showEditTax">
      <div class="form-row mt-2">
        <div class="col-6 col-md-8">
          <label><strong>Nombre legal</strong></label>
          <input type="text" name="legalName" value="{{taxInformation.legalName}}" class="form-control" placeholder="Nombre">
        </div>
        <div class="col-6 col-md-2">
          <label><strong>RFC</strong></label>
          <input type="text" name="rfc" value="{{taxInformation.rfc}}" class="form-control" placeholder="RFC">
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col">
          <label><strong>Dirección</strong></label>
          <input type="text" name="addressId" value="{{taxInformation.addressId}}" class="form-control" placeholder="Dirección">
        </div>
      </div>

      <div class="form-row mt-2 text-right">
        <div class="col">
          <button class="btn btn-outline-warning">
            <i class="fa fa-save"></i> Guardar
          </button>
        </div>
      </div>
    </form>

    <div id="collapseForm" *ngIf="!showEditTax">
      <div class="row mt-2">
        <div class="col-6 col-md-8">
          <label><strong>Nombre legal</strong></label>
          <p>{{taxInformation.legalName}}</p>
        </div>
        <div class="col-6 col-md-2">
          <label><strong>RFC</strong></label>
          <p>{{taxInformation.rfc}}</p>
        </div>
      </div>
  
      <div class="row mt-2">
        <div class="col">
          <label><strong>Dirección</strong></label>
          <p>{{taxInformation.addressId}}</p>
        </div>
      </div>
  
      <div class="row mt-2 text-right">
        <div class="col">
          <button class="btn btn-outline-warning" (click)="clickEditShowTax()">
            <i class="fa fa-pen"></i> Editar
          </button>
        </div>
      </div>
    </div>

  </div>
</div>
