<div class="container d-flex flex-column justify-content-center align-items-center">
  <h1 class="display-4 text-warning">Error</h1>
  <div class="row d-flex justify-content-center align-items-center">
    <h1 class="display-2 text-warning">4</h1>
    <h1 class="display-2 text-warning">
      <small><span class="fa-stack fa-1x">
        <i class="fas fa-fish fa-stack-1x"></i>
        <i class="fas fa-ban fa-stack-2x"></i>
      </span></small>
    </h1>
    <h1 class="display-2 text-warning">4</h1>
  </div>
  <div class="text-center">
    <h2 class="text-secondary">
      <small>Lo sentimos, página no encontrada.</small>
    </h2>
  </div>
</div>