.fondo-multiple {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  height: 35rem;
  background-position-x: initial;
  background-size: cover;
  transition: 1s;
  flex: 1;
  display: block;
  position: relative;
}
.box:not(:last-child):after,
.box:not(:first-child):before {
  content: "";
  position: absolute;
  top: 0;
  height: 35rem;
}
.box:not(:last-child):after {
  content: "";
  border-bottom: 34rem solid #343a40;
  border-left: 2rem solid transparent;
  right: -0px;
}
.box:not(:first-child):before {
  content: "";
  border-bottom: 34rem solid transparent;
  border-left: 2rem solid #343a40;
  left: -0px;
}
.box:hover{
  flex: 5;
}
.box-1 {
  background-image: url('../../../assets/img/carrousel/1a.jpg');
}
.box-2 {
  background-image: url('../../../assets/img/carrousel/2a.jpg');
}
.box-3 {
  background-image: url('../../../assets/img/carrousel/3a.jpg');
}
.box-4 {
  background-image: url('../../../assets/img/carrousel/4a.jpg');
}

.content-noProducts {
  height: 60vh;
}
.img-container {
  background-image: url('../../../assets/img/carrousel/4a.jpg');
  background-attachment: fixed;
  background-size: cover;
}
.img-content-categories {
  background: rgba(6, 7, 8, 0.7294117647058823);
  color: white;
  text-transform: uppercase;
}
.content-filters {
  background-color: white;
  border-bottom: 1px solid #ececec;
}
.row-filters-categories,
.row-filters,
.content-filters-extra {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.row-filters-categories {
  justify-content: space-between;
}
.row-filters {
  justify-content: end;
}
.select-filter {
  width: 7rem;
}

@media (max-width: 767px) {
  .row-filters-categories {
    flex-direction: column;
  }
  .row-filters {
    flex-direction: column;
    justify-content: center;
  }
  .select-filter {
    width: 100%;
  }
  .fondo-multiple {
    display: none;
  }
  
}

@media (min-width: 2500px) {
  .content-noProducts {
    height: 80vh;
  }
}