
<div class="img-container">
  <div class="jumbotron jumbotron-fluid img-content-categories mb-0 pt-4 pb-4">
    <div class="container container-trophies">
      <h1 class="display-4 text-center">{{name}}</h1>
    </div>
  </div>
</div>

<div class="jumbotron content-filters mb-0 pt-0 pb-0">
  <div class="container container-trophies pt-3 pb-3">
    <div class="row-filters-categories">
      <div>
        <h4 class="text-muted mb-0">
          <a href="/categoria" class="text-muted text-decoration-none">CATEGORÍA </a> <small> <i class="fa fa-angle-right"></i> {{name}}</small>
        </h4>
      </div>
      <div class="row-filters mt-3 mt-md-0">
        <label class="mr-2 mb-0">Ordenar por:</label>
        <select class="custom-select select-filter" (change)="sortProducts($event)">
          <option value="">Ordenar</option>
          <option value="1">Orden alfabético</option>
          <option value="2">Precio, menor a mayor</option>
          <option value="3">Precio, mayor a menor</option>
        </select>
        <div class="content-filters-extra">
          <div class="ml-1" *ngFor="let filter of filtersGroups">
            <select class="custom-select form-control mt-2 mt-md-0 select-filter" (change)="changeFilter($event, filter.level)">
              <option value="">Todo</option>
              <option *ngFor="let option of filter.options" value="{{option.key}}">{{option.value}}</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 item-product" *ngFor="let product of products">
      <app-product [product]="product"></app-product>
    </div>
  </div>

  <div *ngIf="showNoProducts">
    <div class="d-flex flex-column content-noProducts justify-content-center align-items-center">
      <h1 class="text-warning">Lo sentimos <br></h1>
      <h1 class="text-warning"><i class="fa fa-sad-tear fa-2x"></i></h1>
      <h3 class="text-secondary">
        <small>Ningún producto coincide con tu búsqueda.</small>
      </h3>
    </div>
  </div>

</div>
