#newProductsSection::before {
  content: "";
  height: 8rem;
  margin-top: -8rem;
  display: block;
  visibility: hidden;
}

@media (max-width: 767px) {
  #newProductsSection::before {
    content: "";
    height: 12rem;
    margin-top: -12rem;
    display: block;
    visibility: hidden;
  }
}