    
  <div class="container pt-5 pb-5">
    
    <div class="row" *ngIf="!product">
      <div class="col-12">
        <h1>Cargando</h1>
      </div>
    </div>
    
    <div class="row" *ngIf="product">
      <div class="col-12">
        <h1>Producto {{product.name}}</h1>
      </div>
    </div>


    <div class="row" *ngIf="product">

      <div class="col-8">
      
        <div id="carouselProductControls" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner">
            <div [ngClass]="['carousel-item', item.activeClass]" *ngFor="let item of getImages()">
              <img src="{{item.image}}" class="d-block w-100" alt="">
            </div>
        </div>
        <a class="carousel-control-prev" href="#carouselProductControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselProductControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>

    </div>

    <div class="col-4" *ngIf="product">
      <p>
        {{getPrice(product.price)}}
      </p>
      <p>
        {{product.description}}
      </p>

      <div class="row" *ngIf="product.withVariants">
        
        <div *ngFor="let option of getOptions()">
          <select (change)="changeSelect(option.key, $event.target.value)">
            <option>Selecciona {{option.keyLabel}}</option>
            <option *ngFor="let filteredOption of getOptionsValuesByKey(option.key)">{{filteredOption.value}}</option>
          </select>
        </div>

        <div *ngIf="getVariant()">
          Precio {{getVariantPrice(variant.price)}}
        </div>
      
      </div>

      <button>
        Compartir
      </button>
  
      <share-buttons
        [include]="['facebook', 'twitter', 'google', 'messenger', 'whatsapp', 'email', 'print', 'copy']"
        [show]="8"
        [size]="2"
        [url]="getShareUrl()"
        [autoSetMeta]="true">
      </share-buttons>

      <div class="row">
        <div class="col-sm">
          <button class="btn btn-warning" (click)="subtractQuantity()">-</button>
        </div>
        <div class="col-sm">
          {{quantity}}
        </div>
        <div class="col-sm">
          <button class="btn btn-warning" (click)="addQuantity()">+</button>
        </div>
      </div>
    
      <div>
        <button class="btn btn-warning" (click)="addProductToCart()">Agregar al carrito</button>
      </div>

    </div>

  </div>
