.btn-productToCart {
  border-radius: 35px;
}
.btn-heart {
  border: 0px!important;
  font-size: 1.3rem;
}
.btn-heart:hover {
  background-color: #ffffff;
  color: #ffbf00!important
}
.priceNotDiscount {
  margin-bottom: 0rem;
  font-size: 14px;
  text-decoration: line-through;
}
.priceDiscount {
  color: #f00;
}
.priceDisplayNone {
  display: none;
}
.badge-available {
  background-color: #FBDF3E;
}
.carousel-content {
  margin: auto;
  display: flex;
  align-items: center;
}
.carousel-size {
  width: 100%;
  height: 50vh;
}
.image-carousel {
  margin: auto;
  height: auto;
  max-height: 50vh;
  width: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0.777) sepia(0.11) hue-rotate(-0deg) saturate(1);
}
.img-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
#productDetailCarousel .carousel-indicators {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: initial;
  border: 1px solid #dee2e6!important;
  justify-content: stretch;
}
#productDetailCarousel .carousel-indicators > li {
  width: initial;
  height: initial;
  text-indent: initial;
  padding: 1rem 0.5rem;
  margin: 0;
}
#productDetailCarousel .carousel-indicators > li:not(:last-child) {
  border-bottom: 1px solid #cecece;
}
.img-detail {
  width: 80px;
  height: 80px;
  max-width: 100%;
  max-height: 100%;
}
#productDetailCarousel .carousel-indicators > li.active img {
  opacity: 0.7;
}
.line-description {
  width: 50%;
}
.btn-section {
  border-color: rgba(216, 218, 214, 0.58)!important;
}
.share-buttons {
  margin-top: 5%;
  margin-left: 10%;
}
.variation-row,
.price-row {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
  border-top: 1px solid #dadada;
}
.price-row {
  padding: 11px 0 11px 16px;
}
.price-row p {
  margin-bottom: 0%;
}
.variation-row:first-child::before  {
  content: 'Color';
  padding: 11px 0 11px 16px;
}
.variation-row:nth-child(2n)::before  {
  content: 'Peso';
  padding: 11px 0 11px 16px;
}
.variation-row > select.custom-select {
  border: 0 none;
  outline: none!important;
  height: 100%;
}
.row .variation-row:last-child,
.price-row {
  border-bottom: 1px solid #dadada;
}
.text-price {
  font-size: 20px;
  line-height: 1;
  color: #dc9814;
}
.item-option {
  border: 1px solid #dadada;
  text-align-last: right;
}
.stars {
  color: #dc9814;
}
.content-price {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 991px) {
  #productDetailCarousel .carousel-indicators {
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
  }
  #productDetailCarousel .carousel-indicators > li:not(:last-child) {
    border-bottom: 0px;
    border-right: 1px solid #cecece;
  }
  #productDetailCarousel .carousel-indicators > li {
    padding: 1rem;
  }
  .image-carousel {
    width: 100%;
  }
}