.btn-productToCart {
  border-radius: 35px;
}
.btn-heart {
  background-color: transparent;
  border: none;
  color: #FBDF3E;
  cursor: pointer;
}
.carousel-content {
  margin: auto;
  display: flex;
  align-items: center;
}
.carousel-size {
  width: 100%;
  height: 50vh;
}
.image-carousel {
  margin: auto;
  height: auto;
  max-height: 50vh;
  width: auto;
}
.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: brightness(0.777) sepia(0.11) hue-rotate(-0deg) saturate(1);
}
.img-content {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.img-detail {
  width: 100px;
  height: 100px;
  margin: 10px;
}
.content-img-detail {
  border-top: 1px solid #cecece;
  border-left: 1px solid #cecece;
  border-right: 1px solid #cecece;
}
.content-img-detail:last-child {
  border-bottom: 1px solid #cecece;
}
.line-description {
  width: 50%;
}
.btn-section {
  border-color: rgba(216, 218, 214, 0.58)!important;
}
.share-buttons {
  margin-top: 5%;
  margin-left: 10%;
}
.variation-row,
.price-row {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: auto auto;
  border-right: 1px solid #dadada;
  border-left: 1px solid #dadada;
  border-top: 1px solid #dadada;
}
.price-row {
  padding: 11px 0 11px 16px;
}
.price-row p {
  margin-bottom: 0%;
}
.variation-row:first-child::before  {
  content: 'Color';
  padding: 11px 0 11px 16px;
}
.variation-row:nth-child(2n)::before  {
  content: 'Peso';
  padding: 11px 0 11px 16px;
}
.variation-row > select.custom-select {
  border: 0 none;
  outline: none!important;
  height: 100%;
}
.row .variation-row:last-child,
.price-row {
  border-bottom: 1px solid #dadada;
}
.text-price {
  font-size: 20px;
  line-height: 1;
  color: #dc9814;
}
.item-option {
  border: 1px solid #dadada;
  text-align-last: right;
}
.stars {
  color: #dc9814;
}

@media (max-width: 991px) {
  .img-content {
    flex-direction: row;
    width: 100%;
    overflow-x: auto;
    padding: 4% 4% 0 4%;
  }

  .image-carousel {
    width: 100%;
  }
}