.forgot-page {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.content-reset {
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}
form input,
.input-group-prepend .input-group-text {
  border: none;
  border-bottom: 1px solid #c9c9c9!important;
  border-radius: 0px;
}
.input-group-prepend .input-group-text {
  background-color: rgba(255, 255, 255, 0);
  color: #aaaaaa;
}
.input-group-prepend {
  border: none;
}
/*TABLETS - Tablet posición vertical*/
@media (max-width: 991px) and (min-width: 768px) {
  .content-reset {
    width: 60%;
  }
}

@media (max-width: 767px) {
  .content-reset {
    width: 90%;
  }
}