<div class="container forgot-page">
  <h1 class="display-4 text-center">Crea tu nueva contraseña.</h1>
  <div class="row content-reset">
    <div class="text-center">
      <i class="fa fa-lock fa-4x mt-3"></i>

      <form class="pt-3" name="resetPassword" [formGroup]="forgotForm" (ngSubmit)="resetPassword()">
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
          </div>
          <input name="email" type="text" class="form-control"
                aria-describedby="emailHelp" placeholder="ejemplo@correo.com"
                formControlName="email" >
        </div>
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-key"></i></div>
          </div>
          <input name="token" type="text" class="form-control"
                aria-describedby="token" placeholder="Token"
                formControlName="token" >
        </div>
        <div class="input-group mt-3">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-lock"></i></div>
          </div>
          <input name="password" type="password" class="form-control"
                aria-describedby="password" placeholder="Contraseña"
                formControlName="password" >
        </div>
        <div class="input-group mt-3 mb-3">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-lock"></i></div>
          </div>
          <input name="confirm" type="password" class="form-control"
                aria-describedby="confirm" placeholder="Confirmar password"
                formControlName="confirm" >
        </div>
        <div class="text-center mt-5">
          <button type="submit" class="btn btn-warning">
            Establecer nueva contraseña
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
