.containerCarrousel {
  position: relative;
}

.containerCarrousel,
.img-carousel-home {
  height: 110vh;
}

.bottomCarrousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; 
}

.searchCarrousel {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.search-input-carousel {
  margin: 10vh 40vh;
}

@media (max-width: 1199px) and (min-width: 992px) {
  .containerCarrousel,
  .img-carousel-home {
    height: 85vh;
  }
}

/*TABLETS - Tablet posición vertical*/
@media (max-width: 991px) and (min-width: 768px) {
  .containerCarrousel,
  .img-carousel-home {
    height: 75vh;
  }
}

/*PHONES*/
@media (max-width: 767px) and (min-width: 577px) {
  .containerCarrousel,
  .img-carousel-home {
    height: 65vh;
  }
}
@media (max-width: 576px) {
  .containerCarrousel,
  .img-carousel-home {
    height: 45vh;
  }
}

@media (max-width: 991px) and (min-width: 768px)  {
  .search-input-carousel {
    margin: 10vh 20vh;
  }
}