.containerCarrousel {
  position: relative;
}

.containerCarrousel {
  height: 95%;
}

.img-carousel-home,
.carousel-item {
  height: -webkit-fill-available;
}

.bottomCarrousel {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0; 
}

.searchCarrousel {
  width: 100%;
  height: 100px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.search-input-carousel {
  margin: 10vh 60vh;
}



@media (max-width: 991px) and (min-width: 768px)  {
  .search-input-carousel {
    margin: 10vh 20vh;
  }
}