<div class="contentRegister-login">
  <ul class="nav nav-tabs nav-content-login" role="tablist">
    <li class="nav-item nav-item-login nav-login">
      <a class="nav-link text-center" href="#login" role="tab" data-toggle="tab"><h5>Inicio de sesión</h5></a>
    </li>
    <li class="nav-item nav-item-login nav-register">
      <a class="nav-link text-center" href="#register" role="tab" data-toggle="tab"><h5>Registrate</h5></a>
    </li>
  </ul> 
  <!-- CONTENIDO DEL MODAL INTERNO -->
  <div class="tab-content content-user">
    
    <!-- APARTADO DE REGISTRO-->
    <div role="tabpanel" class="tab-pane fade in active" id="register">
      <form class="pt-3" name="registerForm" [formGroup]="registerForm" (ngSubmit)="submitRegister()">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-user"></i></div>
          </div>
          <input name="name" class="form-control" aria-describedby="nameHelp" 
                  placeholder="Nombre" formControlName="name">
        </div>
        <div class="alert message-error-form" role="alert" *ngIf="registerControls.name.touched && registerControls.name.errors">
          <p class="mb-0">
            <strong><i class="fa fa-times"></i></strong> Nombre de usuario debe de ser más de un carácter.
          </p>
        </div>
        <div class="input-group item-register">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-user"></i></div>
          </div>
          <input name="lastName" class="form-control" aria-describedby="nameHelp"
                  placeholder="Apellido" formControlName="lastname">
        </div>
        <div class="alert message-error-form" role="alert" *ngIf="registerControls.lastname.touched && registerControls.lastname.errors">
          <p class="mb-0">
            <strong><i class="fa fa-times"></i></strong> Apellido de usuario debe de ser más de un caracter.
          </p>
        </div>
        <div class="input-group item-register">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
          </div>
          <input name="email" type="email" class="form-control"
                  aria-describedby="emailHelp" placeholder="ejemplo@correo.com" formControlName="email">
        </div>
        <!--<small id="emailHelp" class="form-text text-muted">Recuerda que nunca compartiremos tu datos con terceros</small> -->
        <div class="alert message-error-form" role="alert" *ngIf="registerControls.email.touched && registerControls.email.errors">
          <p class="mb-0">
            <strong><i class="fa fa-times"></i></strong> Correo no válido.
          </p>
          <p class="mb-0">
            <strong><i class="fa fa-times"></i></strong> Correo ya registrado.
          </p>
        </div>
        <div class="input-group item-register">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-key"></i></div>
          </div>
          <input name="password" type="password" class="form-control" 
                  placeholder="********" formControlName="password">
        </div>
        <p><small id="emailHelp" class="form-text text-muted">* Recuerda utilizar 8 caracteres, entre ellos 1 número y 1 carácter especial</small></p>
        <div class="alert message-error-form" role="alert" *ngIf="registerControls.password.touched && registerControls.password.errors">
          <p class="mb-0">
            <strong><i class="fa fa-times"></i></strong> La contraseña debe tener al menos 8 caracteres.
          </p>
        </div>

        <div class="form-row item-register">
          <div class="col pl-3 d-flex flex-row justify-content-start align-items-center">
            <div class="form-group form-check check-remember">
              <input type="checkbox" class="form-check-input" id="terms" required>
              <label class="form-check-label text-muted" for="terms"></label>
            </div>
            <label class="ml-1 mb-0">Estoy de acuerdo con los términos y condiciones</label>
          </div>
        </div>

        <div class="form-row item-register">
          <div class="col pl-3 mb-3 d-flex flex-row justify-content-start align-items-center">
            <div class="form-group form-check check-remember">
              <input type="checkbox" class="form-check-input" id="privacy" required>
              <label class="form-check-label text-muted" for="privacy"></label>
            </div>
            <label class="ml-1 mb-0">Estoy de acuerdo con la política de privacidad</label>
          </div>
        </div>

        <div class="text-center item-register">
          <button type="submit" class="btn btn-warning button-register btn-modal-user" [disabled]="!registerForm.valid">
            Registrarse
          </button>
        </div>
      </form>
    </div>
  
    <!-- APARTADO DE INICIO DE SESIÓN-->
    <div role="tabpanel" class="tab-pane fade" id="login">
      <form class="pt-3" name="loginForm" [formGroup]="loginForm" (ngSubmit)="submitLogin()">
        <div class="input-group">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-envelope"></i></div>
          </div>
          <input  type="email" name="email" class="form-control" 
                  aria-describedby="emailHelp" placeholder="ejemplo@correo.com"
                  formControlName="email">
        </div>
        <div class="alert message-error-form" role="alert" *ngIf="loginControls.email.touched && loginControls.email.errors">
          <p class="mb-0">
            <strong><i class="fa fa-times"></i></strong> Correo electrónico no encontrado.
          </p>
          <p class="mb-0">
            <strong><i class="fa fa-times"></i></strong> Correo electrónico no válido.
          </p>
        </div>
        <div class="input-group item-register">
          <div class="input-group-prepend">
            <div class="input-group-text"><i class="fa fa-key"></i></div>
          </div>
          <input  type="password" name="password" class="form-control"
                  placeholder="Contraseña" formControlName="password">
        </div>
        <div class="alert message-error-form" role="alert" *ngIf="loginControls.email.touched && loginControls.password.errors">
          <p class="mb-0">
            <strong><i class="fa fa-times"></i></strong> Contraseña incorrecta.
          </p>
        </div>
        <div class="form-row item-register">
          <div class="col pl-3 mb-3 d-flex flex-row justify-content-start align-items-center">
            <div class="form-group form-check check-remember">
              <input type="checkbox" class="form-check-input" id="remember">
              <label class="form-check-label" for="remember"></label>
            </div>
            <label class="ml-1 mb-0">Recuerdame</label>
          </div>
        </div>
  
        <div class="text-center">
          <button type="submit" class="btn btn-warning btn-modal-user" [disabled]="!loginForm.valid">
            Iniciar Sesión
          </button>
          <div class="col mt-3">
            <a href="#">¿Has olvidado la contraseña?</a>
          </div>
        </div>
      </form>
    </div>

    <!-- <div class="alert message-error-form mt-2" role="alert">
      <p class="text-center">
        <strong><i class="fa fa-exclamation-circle"></i> Error</strong><br>
        Ocurrió un error.
      </p>
    </div> -->
  </div>
  
  <div class="modal-footer">
    <button class="btn btn-link" (click)="activeModal.dismiss('Close clicked')">
      <i class="fa fa-times"></i>
    </button>
  </div>
</div>