.nav-content {
  width: 100%;
}
.nav-item-login {
  width: 50%;
  border-radius: 12px;
}
.nav-login a {
  border-top-left-radius: 12px!important;
}
.nav-register a {
  border-top-right-radius: 12px!important;
}
.contentRegister-login .nav-tabs .nav-link {
  border-top-left-radius: 0rem;
  border-top-right-radius: 0rem;
}
.item-register {
  margin-top: 0.5rem;
}
.content-user {
  padding: 1rem 4rem;
}
.button-register {
  margin-top: 1rem;
  border-radius: .25rem;
  width: 40%;
  margin: auto;
}

.nav-link[aria-expanded="true"]{
  background-color: #FBDF3E;
}
.nav-link {
  background-color: #FFFFFF;
  color: black;
}

.nav-link[aria-expanded="true"].active{
  background-color: #FFFFFF;
}
.nav-link.active{
  background-color: #FBDF3E;
  color: #212529;
  border-color: #dee2e6 #dee2e6 #FBDF3E;
}
.contentRegister-login form input,
.input-group-prepend .input-group-text {
  border: none;
  border-bottom: 1px solid #c9c9c9!important;
  border-radius: 0px;
}
.input-group-prepend {
  border: none;
}
.contentRegister-login form .input-group:not(:first-child) {
  margin-right: 1em;
}
.input-group-prepend .input-group-text {
  background-color: rgba(255, 255, 255, 0);
  color: #aaaaaa;
}
.check-remember {
  position: relative;
}
.check-remember label {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  cursor: pointer;
  height: 15px;
  width: 15px;
  left: 0;
  position: absolute;
  top: 0;
  
}
.check-remember label:after {
  border: 2px solid #fff;
  border-top: none;
  border-right: none;
  content: "";
  height: 6px;
  left: 1px;
  opacity: 0;
  position: absolute;
  top: 3px;
  transform: rotate(-45deg);
  width: 12px;
}
.check-remember input[type="checkbox"] {
  visibility: hidden;
}
.check-remember input[type="checkbox"]:checked + label {
  background-color: #FBDF3E;
  border-color: #FBDF3E;
}
.check-remember input[type="checkbox"]:checked + label:after {
  opacity: 1;
}

@media (max-width: 576px) {
  .content-user {
    padding: 1rem 2rem;
  }
  .btn-modal-user {
    border-radius: 25px;
    width: 80%;
    margin: auto;
  }
}