.nav-content {
  width: 100%;
}
.nav-item-login {
  width: 50%;
}
.item-register {
  margin-top: 0.5rem;
}
.content-user {
  padding: 1rem 3rem;
}
.button-register {
  margin-top: 1rem;
}
.nav-link[aria-expanded="true"]{
  background-color: #FFFFFF;
}
.nav-link {
  background-color: #DCDCDC
}