<div class="modal-body">
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
      <a class="nav-link" href="#login" role="tab" data-toggle="tab">Inicio de sesión</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#register" role="tab" data-toggle="tab">Registrate</a>
    </li>
  </ul> 
  <!-- CONTENIDO DEL MODAL INTERNO -->
  <div class="tab-content">
    
    <!-- APARTADO DE REGISTRO-->
    <div role="tabpanel" class="tab-pane fade in active" id="register">
      <form class="pt-3" name="registerForm" #registerForm="ngForm" (ngSubmit)="register(registerForm)">
        <div class="form-group">
          <label for="registerInputName">Nombre</label>
          <input name="name" class="form-control" id="registerInputName" aria-describedby="nameHelp" placeholder="Nombre" ngModel required>
        </div>
        <div class="form-group">
          <label for="registerInputLastName">Apellido</label>
          <input name="lastName" class="form-control" id="registerInputLastName" aria-describedby="nameHelp" placeholder="Apellido" ngModel required>
        </div>
        <div class="form-group">
            <label for="registerInputEmail" class="pt-3">Correo Electrónico</label>
            <input name="email" type="email" class="form-control" id="registerInputEmail" aria-describedby="emailHelp" placeholder="ejemplo@correo.com" ngModel email required>
            <!--<small id="emailHelp" class="form-text text-muted">Recuerda que nunca compartiremos tu datos con terceros</small> -->
          </div>
        <div class="form-group">
          <label for="registerInputPassword">Contraseña</label>
          <input name="password" type="password" class="form-control" id="registerInputPassword" placeholder="********" ngModel required>
          <small id="emailHelp" class="form-text text-muted">Recuerda utilizar 8 carácteres, entre ellos 1 número y 1 carácter especial</small> 
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-warning" [disabled]="!registerForm.form.valid">
            Registrarse
          </button>
        </div>
      </form>
    </div>

    <!-- APARTADO DE INICIO DE SESIÓN-->
    <div role="tabpanel" class="tab-pane fade" id="login">
      <form class="pt-3" name="loginForm" #loginForm="ngForm" (ngSubmit)="login(loginForm)">
        <div class="form-group">
          <label for="loginInputEmail">Correo Electrónico</label>
          <input type="email" name="email" class="form-control" id="loginInputEmail" aria-describedby="emailHelp" placeholder="ejemplo@correo.com" ngModel email required>
        </div>
        <div class="form-group">
          <label for="loginInputPassword">Contraseña</label>
          <input type="password" name="password" class="form-control" id="loginInputPassword" placeholder="" ngModel required>
        </div>
        <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1">Recuerdame</label>
        </div>
        <div class="text-center">
          <button type="submit" class="btn btn-warning" [disabled]="!loginForm.form.valid">
            Iniciar Sesión
          </button>
        </div>
      </form>
    </div>
    
  </div>
</div>
<div class="modal-footer">
  <button class="btn btn-link" (click)="activeModal.dismiss('Close clicked')">
    Cerrar
  </button>
</div>