<div>
  <h1 class="title-styleLogo text-center">{{currentCategory}}</h1>
  <hr class="line-title">
</div>
<div class="fondo-multiple">
  <a class="box box-1" href="/categoria/accesorios" (mouseover)="overCategory('Accesorios')" (mouseleave)="leaveCategory()"></a>
  <a class="box box-2" href="/categoria/canas" (mouseover)="overCategory('Cañas')" (mouseleave)="leaveCategory()"></a>
  <a class="box box-3" href="/categoria/carretes" (mouseover)="overCategory('Carretes')" (mouseleave)="leaveCategory()"></a>
  <a class="box box-2" href="/categoria/combos" (mouseover)="overCategory('Combos')" (mouseleave)="leaveCategory()"></a>
  <a class="box box-3" href="/categoria/kayaks" (mouseover)="overCategory('Kayaks')" (mouseleave)="leaveCategory()"></a>
  <a class="box box-4" href="/categoria/lineas" (mouseover)="overCategory('Lineas')" (mouseleave)="leaveCategory()"></a>
  <a class="box box-1" href="/categoria/senuelos" (mouseover)="overCategory('Señuelos')" (mouseleave)="leaveCategory()"></a>
</div>