.fondo-multiple {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.box {
  height: 35rem;
  background-position-x: center;
  background-size: cover;
  transition-duration: 2s;
  transition-timing-function: linear;
  flex: 1;
  display: block;
  position: relative;
}
.box:not(:last-child):after,
.box:not(:first-child):before {
  content: "";
  position: absolute;
  top: 0;
  height: 35rem;
}
.box:not(:last-child):after {
  content: "";
  border-bottom: 34rem solid #FBDF3E;
  border-left: 0.5rem solid transparent;
  right: -0px;
  z-index: 1;
}
.box:not(:first-child):before {
  content: "";
  border-bottom: 34rem solid transparent;
  border-left: 0.5rem solid #FBDF3E;
  left: -0px;
  z-index: 1;
}
.box:hover,
.box:active,
.box:visited {
  flex: 6;
}
.box-1 {
  background-image: url('/assets/img/categorias/Accesorios_completa.jpg');
}
.box-2 {
  background-image: url('/assets/img/categorias/Cañas_completa.jpg');
}
.box-3 {
  background-image: url('/assets/img/categorias/Carretes_completa.jpg');
}
.box-4 {
  background-image: url('../../../assets/img/carrousel/1a.jpg');
}
.box-5 {
  background-image: url('/assets/img/categorias/Kayak_completo.jpg');
}
.box-6 {
  background-image: url('/assets/img/categorias/Líneas_completo.jpg');
}
.box-7 {
  background-image: url('/assets/img/categorias/Señuelos_completa.jpg');
}

.boxTitle{
  position: absolute;
  top: 0;
  width: 100%;
  padding: 30px;
  color: #DDD;
  background-color: rgba(121, 121, 121, 0.4392156862745098);;
}
@media (max-width: 991px) {
  .boxTitle {
    width:20px;
    word-wrap: break-word;
    text-align: center;
    line-height: 30px;
    margin: 0.5rem;
  }
}