<div>
  <h1 class="title-styleLogo text-center">{{currentCategory}}</h1>
  <hr class="line-title mb-2">
</div>
<div class="content-categories">
<div class="content">
  <div class="box-category">
    <a href="/categoria/accesorios">
      <h2>Accesorios</h2>
      <img src="/assets/img/categorias/Accesorios.jpg">
    </a>
  </div>
  <div class="box-category">
    <a href="/categoria/canas">
      <h2>Cañas</h2>
      <img src="/assets/img/categorias/Cañas.jpg">
    </a>
  </div>
  <div class="box-category">
    <a href="/categoria/carretes">
      <h2>Carretes</h2>
      <img src="/assets/img/categorias/Carretes.jpg">
    </a>
  </div>
  <div class="box-category">
    <a href="/categoria/kayaks">
      <h2>Kayaks</h2>
      <img src="/assets/img/categorias/Kayak.jpg">
    </a>
  </div>
  <div class="box-category">
    <a href="/categoria/lineas">
      <h2>Líneas</h2>
      <img src="/assets/img/categorias/Líneas.jpg">
    </a>
  </div>
  <div class="box-category">
    <a href="/categoria/senuelos">
      <h2>Señuelos</h2>
      <img src="/assets/img/categorias/Señuelos.jpg">
    </a>
  </div>
</div>
