<div class="filter-header">
  <div class="jumbotron section-header">
    <hr>
    <h1>Sobre</h1>
    <h1>Yellow Tail</h1>
    <hr>
    <a href="/categoria"><h1>#EnganchateAtuPasion</h1></a>
  </div>
</div>
<div class="container about">
  <div class="row">
    <div class="col-lg-6">
      <h2 class="title">¿Quienés somos?</h2>
      <p>
        Somos una marca mexicana creada en el 2013, que nació ante la necesidad de crear equipos de calidad en gama alta, media y baja con costos accesibles para todo tipo de pescadores. Yellow Tail se construyó con nuestra experiencia y el amor por la pesca deportiva.
        Nuestra marca busca mejorar constantemente la calidad de nuestros productos y brindar al usuario mejores experiencias utilizando el Dinamismo, la Integridad, la Empatía y la Renovación que nos caracteriza.
        Contamos con un catálogo de amplia variedad de productos para iniciar o complementar tu equipo de pesca. En donde puedes encontrar carretes de spinning para pesca de agua dulce y agua salada, diseños de casting y spinning para mar, jiggs para la práctica del jigging y señuelos de plomo. Así como jerseys con diseños originales, playeras de colores atractivos, equipo para snorkel, visores y accesorios que facilitarán e incrementarán tu amor por la pesca y la aventura.
        Visítanos en cualquiera de nuestras casas: Fecego Marina ubicada en San Rafael, Veracruz y Anfibia en Mérida, Yucatán. También contamos con el apoyo de una amplia red de distribuidores y envíos a través de paquetería a toda la República Mexicana.
      </p>
    </div>
    <div class="col-lg-6 mt-5 mt-lg-0">
      <img src="/assets/img/logo/Collage.jpg" alt="Sobre Yellow Tail">
    </div>
  </div>
</div>

<div class="jumbotron section-end">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <div class="mt-3" >
          <h2><a href="/">Inicio</a></h2>
          <p>Aquí encontrarás las ofertas que estén disponibles, los artículos más vendidos y los artículos nuevos, así como las características de cada uno de ellos.</p>
        </div>
        <div class="mt-3">
          <h2><a href="/categoria/accesorios">Accesorios</a></h2>
          <p>Contamos con una amplia variedad de accesorios que apoyarán y reforzarán tus líneas. Así como a complementar tus días de pesca.</p>
        </div>
        <div class="mt-3">
          <h2><a href="/categoria/canas">Cañas</a></h2>
          <p>Encuentra modelos de cañas para distintos tipos de pesca como Spinning, Casting, Surf, Trolling, jigging.</p>
        </div>
        <div class="mt-3">
          <h2><a href="/categoria/carretes">Carretes</a></h2>
          <p>Carretes de Spinning y Convencionales en distintos tamaños y modelos, para todos los presupuestos.</p>
        </div>
        <div class="mt-3">
          <h2><a href="/categoria/kayaks">Kayaks</a></h2>
          <p>Kayaks de distintos colores y modelos, encuentra el ideal para ti. Contamos con diferentes tamaños Mini, Tandem y de Pesca.</p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="mt-3">
          <h2><a href="/categoria/lineas">Líneas</a></h2>
          <p>Contamos con líneas de monofilamento y trenzadas en distinto libraje y yardas. Encuéntralas en distintos colores.</p>
        </div>
        <div class="mt-3">
          <h2><a href="/categoria/senuelos">Señuelos</a></h2>
          <p>Encuentra distintos modelos de señuelos, para agua salada y agua dulce en colores originales y diferentes pesos.</p>
        </div>
        <div class="mt-3">
          <h2><a href="/categoria/trofeos">Sala de trofeos</a></h2>
          <p>Nuestra Sala de Trofeos está conformada por todas las fotos de nuestros clientes, así como las obtenidas por nuestro Pro staff, demostrando la calidad y los buenos resultados de nuestros productos.</p>
        </div>
        <div class="mt-3">
          <h2><a href="/categoria/torneos">Torneos</a></h2>
          <p>Aquí encontrarás las fechas de los Torneos en los cuales somos patrocinadores, ubicación y los contactos para que te puedas registrar y participar.</p>
        </div>
      </div>
    </div>

    <div class="d-flex align-item-center justify-content-center link-end">
      <img src="/assets/img/logo/YellowTail Amarillo y blanco.png" alt="Logo YellowTail">
      <a href="/categoria">
        <h1># YellowtailPesca</h1>
      </a>
    </div>
  </div>
</div>
