<div class="container">
  <h3>Nosotros</h3>
  <div class="row ">
    <img src="/assets/img/logo/logo.png" class="img-fluid mx-auto d-block mt-3 mb-3">
  </div>
  <div class="row mb-3">
    <h3>Lorem ipsum dolor sit amet consectetur, adipisicing elit.</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut rerum debitis numquam? Laborum, sapiente obcaecati unde minus quam nisi soluta aliquid! Laborum tempore saepe molestias blanditiis voluptatem enim iusto minima?</p>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eos necessitatibus quam a odit, saepe, animi commodi sapiente aliquam veritatis officiis quasi inventore, hic adipisci! Dolore atque quia alias dolorum iusto?</p>
  </div>
</div>
