
  <div class="text-center justify-content-center box-producto content-modal-product">

    <div (click)="openProductModal()" class="content-img">
      <img class="img-fluid d-block mx-auto img-productNew" src="{{getImage()}}" alt="">
    </div>
    <div class="content-title d-flex align-items-end justify-content-center">
      <h4 class="title-productNew" id="nombre-producto">
        <small (click)="openProductModal()">{{product.name}}</small>
        <span>
          <div class="btn btn-outline-warning btn-heart" (click)="toggleFavorite()">
            <i class="fas fa-heart" *ngIf="product.isFavorite"></i>
            <i class="far fa-heart" *ngIf="!product.isFavorite"></i>
          </div>
        </span>
      </h4>
    </div>
    <p (click)="openProductModal()" class="text-muted content-modal-product">
      <span>{{product.sku}}</span>
      <span *ngIf="!product.sku">&nbsp;</span>
    </p>
    <h4 (click)="openProductModal()" [ngClass]="{'priceNotDiscount': product.discount}" class="content-modal-product">
      <span id="costo-producto">{{getPrice(product.price)}}</span>
    </h4>
    <h4 (click)="openProductModal()" [ngClass]="(product.discount)?'priceDiscount':'priceDisplayNone'" class="content-modal-product">
      {{getPrice(product.discount)}}
    </h4>

    <div class="card section-shop-product btn-section text-center">
      <div class="d-flex align-items-center justify-content-center pt-3 pb-3">
        <button class="btn btn-outline-warning btn-circle-shop-product" (click)="subtractQuantity()">-</button>
        <div class="pr-3 pl-3">
          {{quantity}}
        </div>
        <button class="btn btn-outline-warning btn-circle-shop-product" (click)="addQuantity()">+</button>
      </div>
    
      <button class="btn btn-warning btn-block btn-productToCart-shop-product" (click)="addProductToCart()">Agregar al carrito</button>
    </div>
  </div>
