.box-producto{
    /*width: 100%;*/
    border: 1px solid rgba(124, 125, 123, 0.39);
    padding: 4px 4px 8px 4px;
    border-radius: 5px;
    margin-bottom: 1rem;
    background-color: #ffffffe6;
}
.content-img {
    height: 25vh;
    margin: 0.5rem 0;
}
.content-title {
    height: 24.5vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.img-productNew {
    height: 100%;
}
.title-productNew {
    margin: auto;
    line-height: 0.76em;
}
.row-controls {
    margin: 1rem 0;
}
.btn-productToCart {
    border-radius: 35px;
}
.btn-heart {
    border: 0px!important;
}
.btn-heart:hover {
    background-color: #ffffff;
    color: #ffc107!important;
}
/* LARGE DESKTOP */
@media (min-width: 1400px) {
    .content-img {
        height: 10vh;
    }
    .content-title {
        height: 18vh;
    }
}