.box-producto{
    /*width: 100%;*/
    border: 1px solid rgba(124, 125, 123, 0.39);
    padding: 4px 4px 8px 4px;
    border-radius: 5px;
    margin-bottom: 1rem;
}
.content-img {
    height: 25vh;
    margin: 0.5rem 0;
}
.content-title {
    height: 20vh;
    display: flex;
    justify-content: center;
    align-content: center;
}
.img-productNew {
    height: 100%;
}
.title-productNew {
    margin: auto;
    font-size: 1.467vw!important;
}
.row-controls {
    margin: 1rem 0;
}
.btn-productToCart {
    border-radius: 35px;
}
/* LARGE DESKTOP */
@media (min-width: 1400px) {
    .content-img,
    .content-title {
        height: 10vh;
    }
    .title-productNew {
        font-size: 1.46vh!important;
    }
}

/*PHONES*/
@media (max-width: 767px) and (min-width: 577px) {
    .title-productNew {
        font-size: 2.3vw!important;
    }
}
@media (max-width: 576px) {
    .title-productNew {
        font-size: 5vw!important;
    }
}