.box-producto{
    padding: 4px 4px 8px 4px;
    margin-bottom: 1rem;
    background-color: #ffffffe6;
}
.box-producto .text-muted {
    margin-bottom: 0!important;
}
.content-img {
    height: 25vh;
    margin: 0.5rem 0;
}
.content-title {
    height: 10vh;
    margin-bottom: 0.5rem;
}
.img-productNew {
    height: 100%;
}
.title-productNew {
    line-height: 0.76em;
}
.row-controls {
    margin: 1rem 0;
}
.btn-productToCart {
    border-radius: 35px;
}
.btn-heart {
    border: 0px!important;
}
.btn-heart:hover {
    background-color: #ffffff;
    color: #ffc107!important;
}
.content-modal-product {
    cursor: pointer;
}
/* LARGE DESKTOP */
@media (min-width: 1400px) {
    .content-img {
        height: 10vh;
    }
}
@media (max-width: 575px) {
   .box-producto {
        border-right: 0px;
        border-bottom: 1px solid rgba(124, 125, 123, 0.39);
   }
}