
  <div class="text-center justify-content-center box-producto">
    <div (click)="openProductModal()">
      <img class="img-fluid d-block mx-auto" src="{{getImage()}}" alt="">
      <h4 class="" id="nombre-producto">{{product.name}}</h4>
      <p>{{product.sku}}</p>
      <p><span id="costo-producto">{{getPrice(product.price)}}</span></p>
    </div>
    
    <div class="row">
      <div class="col-sm">
        <button class="btn btn-warning" (click)="subtractQuantity()">-</button>
      </div>
      <div class="col-sm">
        {{quantity}}
      </div>
      <div class="col-sm">
        <button class="btn btn-warning" (click)="addQuantity()">+</button>
      </div>
    </div>

    <button class="btn btn-warning" (click)="addProductToCart()">Agregar al carrito</button>
  </div>
