<h2>Hola Usuario</h2>
<div class="card mb-3">
  <div class="card-body">
    <h5 class="card-title">Datos personales</h5>
    
    <form *ngIf="showEdit">
      <div class="form-row">
        <div class="col-12 col-md-8">
          <label><strong>Nombre del usuario</strong></label>
          <div class="form-row">
            <div class="col-6">
              <input type="text" class="form-control" name="name" value="{{profile.name}}" placeholder="Nombre">
              <div class="alert alert-danger error-message-form" role="alert">
                <strong><i class="fa fa-exclamation-circle"></i> Ingresa tu nombre</strong>
              </div>
            </div>
            <div class="col-6">
              <input type="text" class="form-control" name="lastName" value="{{profile.lastName}}" placeholder="Apellido paterno">
              <div class="alert alert-danger error-message-form" role="alert">
                <strong><i class="fa fa-exclamation-circle"></i> Ingresa tu apellido</strong>
              </div>
            </div>
          </div>
        </div>

        <div class="col-12 col-md-4">
          <label><strong>Correo electrónico</strong></label>
          <input type="email" name="email" value="{{profile.email}}" class="form-control" placeholder="email@email.com">
          <div class="alert alert-danger error-message-form" role="alert">
            <strong><i class="fa fa-exclamation-circle"></i> Correo inválido</strong>
          </div>
        </div>
      </div>

      <div class="form-row mt-2">
        <div class="col-12 col-md-4">
          <label><strong>Fecha de nacimiento</strong></label>
          <input type="text" name="birthday" value="{{profile.birthday}}" placeholder="Ejemplo: 14 Enero 1990" class="form-control">
          <div class="alert alert-danger error-message-form" role="alert">
            <strong><i class="fa fa-exclamation-circle"></i> Ingresa tu fecha de cumpleaños</strong>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-2 mt-md-0">
          <label><strong>Sexo</strong></label>
          <div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" name="gender" class="custom-control-input" value="M" [checked]=" (profile.gender === 'M')?true:false">
              <label class="custom-control-label" for="gender">Mujer</label>
            </div>
            <div class="custom-control custom-radio custom-control-inline">
              <input type="radio" name="gender" class="custom-control-input" value="H" [checked]="(profile.gender === 'H')?true:false">
              <label class="custom-control-label" for="gender2">Hombre</label>
            </div>
          </div>
        </div>
        <div class="col-12 col-md-4 mt-2 mt-md-0">
          <label><strong>Teléfono</strong></label>
          <input type="text" name="phone" value="{{profile.phone}}" class="form-control" placeholder="Teléfono">
          <div class="alert alert-danger error-message-form" role="alert">
            <strong><i class="fa fa-exclamation-circle"></i> Teléfono inválido</strong>
          </div>
        </div>
      </div>

      <div class="form-row mt-2 text-right">
        <div class="col">
          <button class="btn btn-outline-warning" (click)="cancelEdit()">
            <i class="fa fa-times"></i> Cancelar
          </button>
          <button class="btn btn-outline-warning" (click)="saveEdit()">
            <i class="fa fa-save"></i> Guardar
          </button>
        </div>
      </div>
    </form>

    <div class="row" *ngIf="!showEdit">
      <div class="col-12 col-md-6">
        <label><strong>Nombre</strong></label>
        <p>{{profile.fullname}}</p>
      </div>
      <div class="col-12 col-md-6 mt-2 mt-md-0">
        <label><strong>Correo electrónico</strong></label>
        <p>{{profile.email}}</p>
      </div>
    </div>

    <div class="row mt-2" *ngIf="!showEdit">
      <div class="col-12 col-md-4">
        <label><strong>Fecha de nacimiento</strong></label>
        <p>{{profile.birthday}}</p>
      </div>
      <div class="col-12 col-md-4 mt-2 mt-md-0">
        <label><strong>Sexo</strong></label>
        <p>{{profile.displayGender}}</p>
      </div>
      <div class="col-12 col-md-4 mt-2 mt-md-0">
        <label><strong>Teléfono</strong></label>
        <p>{{profile.phone}}</p>
      </div>
    </div>

    <div class="form-row mt-2 text-right" *ngIf="!showEdit">
      <div class="col">
        <button class="btn btn-outline-warning" (click)="clickEdit()">
          <i class="fa fa-pen"></i> Editar
        </button>
      </div>
    </div>

  </div>
</div>
