  
  
  
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="title-view">Carrito</h1>
      </div>
    </div>
    <div class="row text-center" *ngIf="showPlaceholder">
      <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
        <span class="fa-stack fa-2x text-muted">
          <i class="fas fa-shopping-cart fa-stack-1x"></i>
          <i class="fas fa-ban fa-stack-2x"></i>
        </span>
        <h1 class="text-muted">Carrito vacío</h1>
        <button type="submit" class="btn btn-warning">
          Ir a productos
        </button>
      </div>
    </div>

    <div class="row mt-3" *ngIf="!showPlaceholder">
      <div class="col-sm">
        <div class="row row-title text-center">
          <div class="col-md-2 d-none d-md-block">
            Producto
          </div>
          <div class="col-3 col-md-2">
            Nombre
          </div>
          <div class="col-3 col-md-2">
            Cantidad
          </div>
          <div class="col-2">
            Precio unitario
          </div>
          <div class="col-2">
            Precio total
          </div>
          <div class="col-2">
            Borrar
          </div>
        </div>

        <div class="row">
          <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12" *ngFor="let product of products">
            <app-cart-product [product]="product"></app-cart-product>
          </div>
        </div>
      </div>
    </div>

    <div class="row pt-5" *ngIf="!showPlaceholder">
      <div class="col-sm">
        <h3 class="float-right">Total: {{getTotal()}}</h3>
      </div>
    </div>

    <div class="row pt-5" *ngIf="!showPlaceholder">
      <div class="col-sm">
        <button type="submit" class="btn btn-warning float-right" (click)="continuePurchase()">
          Continuar
        </button>
      </div>
    </div>

  </div>
