#instagramSection::before {
  content: "";
  height: 8rem;
  margin-top: -8rem;
  display: block;
  visibility: hidden;
  padding-top: 1rem;
}
.section-instagram {
  padding-top: 0%;
}
.title-instagram {
  width: 16rem;
}
.photo-box img {
  width: auto;
}
.instagram-logo  {
  width: 100%;
}
.photo-box .image-wrap {
  position: relative;
  width: 50%;
}
.content-instagram {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: none;
  z-index: 0;
  background-color: rgba(0, 0, 0, 0.65);
  color: white;
}
.icon-hover {
  height: 100%;
}
.photo-box:hover .content-instagram {
  display: block;
}
.description p {
  font-size: 1rem;
}
.section-instagram::before {
  content: "";
  height: 8rem;
  margin-top: -8rem;
  display: block;
  visibility: hidden;
}

@media (max-width: 767px) {
  .section-instagram::before {
    content: "";
    height: 12rem;
    margin-top: -12rem;
    display: block;
    visibility: hidden;
  }
}
@media (max-width: 767px) and (min-width: 577px) {
  .content-instagram {
    padding: 28% 36%;
  }
}
@media (max-width: 576px) {
  .content-instagram {
    padding: 30% 43%;
  }
}