<div class="container section-instagram container-auto">
  <div class="d-flex justify-content-center">
    <span class="title-instagram">
      <img class="instagram-logo" src="/assets/img/principal/Instagram_logo.svg">
    </span>
  </div>
  <div class="instagram-content">
    <div class="row">
      
      <div class="col-12 col-sm-6 col-md-4 col-xl-3" *ngFor="let photo of instagramPhotos">
        <a href="{{photo.link}}" class="photo-box text-decoration-none">
          <div class="image-wrap">
            <div class="content-instagram">
              <i class="fab fa-instagram fa-5x"></i>
            </div>
            <img src="{{photo.image}}" class="img-thumbnail">
          </div>
          <div class="description mt-2">
            <p>#{{photo.tags}}</p>
          </div>
        </a>
      </div>
      
    </div>
  </div>
</div>
