<div class="container-fluid content-second-footer">
  <div class="row">
    <div class="col-md-4 mt-5 mt-md-0 text-center content-text-footer">
      <h2>Newsletter</h2>
      <h3>
        <small>Suscribete</small>
      </h3>
      <div class="input-group">
        <div class="custom-file">
          <input type="email" class="form-control subscribe-input text-center" placeholder="user@mail.com">
        </div>
        <div class="input-group-append">
          <button class="btn btn-secondary" type="button">Suscribirse</button>
        </div>
      </div>
    </div>
    <div class="col-md-5 mt-5 mt-md-0 content-text-footer">
      <h2>Information</h2>
      <div class="row">
        <div class="col-12 col-lg-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere omnis hic iusto dignissimos dolorem quod corporis illum, doloribus esse laudantium animi dolore ipsam quidem consequuntur ullam reiciendis facilis rerum fugiat!</p>
        </div>
        <div class="col-12 col-lg-6">
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Facere omnis hic iusto dignissimos dolorem quod corporis illum, doloribus esse laudantium animi dolore ipsam quidem consequuntur ullam reiciendis facilis rerum fugiat!</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mt-5 mt-md-0 text-center content-text-footer">
      <h2>Síguenos</h2>
      <h3>
        <small>Contacto</small>
      </h3>
      <small>contacto@yellowtailpesca.com</small>
      <h4>Tels 55 567 384</h4>
      <span>
        <a href="#" class="contact-icon">
          <i class="fab fa-twitter fa-2x m-1"></i>
        </a>
        <a href="#" class="contact-icon">
          <i class="fab fa-facebook-f fa-2x m-1"></i>
        </a>
        <a href="#" class="contact-icon">
          <i class="fab fa-instagram fa-2x m-1"></i>
        </a>
        <a href="#" class="contact-icon">
          <i class="fab fa-youtube fa-2x m-1"></i>
        </a>
      </span>
    </div>
  </div>
</div>
