.content-second-footer {
  background-color: #262626;
  color: #878181;
  padding: 3rem 5rem 5rem 5rem;
}
.subscribe-input {
  background: rgba(33, 37, 41, 0);
}
.contact-icon,
.item-list-footer {
  color: #878181!important;
}
.item-list-footer:hover {
  color: #646060!important;
}
.line-contact {
  border-color: #878181;
}
.content-list-menu {
  padding: 0 12%;
}
.error-footer {
  background-color: #f8d7da;
}

@media (min-width: 2000px) {
  .logo-footer {
    width: 50%!important;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .content-text-footer {
    padding: 0 5rem;
  }
}
@media (max-width: 767px) {
  .content-second-footer {
    padding: 2rem 3rem 3rem 3rem;
  }
  .content-list-menu {
    text-align: center;
  }
}