.container-footer-info {
  min-height: auto!important;
  padding-top: 4.5rem;
  padding-bottom: 4rem;
}
.content-second-footer {
  background-color: #262626;
  color: #878181;
}
.content-text-menu li {
  margin: 0.5rem 0;
}
.subscribe-input {
  background: rgba(33, 37, 41, 0);
}
.contact-icon,
.item-list-footer {
  color: #878181!important;
}
.item-list-footer:hover {
  color: #646060!important;
}
.line-contact {
  border-color: #878181;
}
.error-footer {
  background-color: #f8d7da;
}

@media (min-width: 2000px) {
  .logo-footer {
    width: 50%!important;
    margin: auto;
  }
}

@media (min-width: 992px) {
  .content-text-footer {
    padding: 0 5rem;
  }
}
@media (max-width: 767px) {
  .container-footer-info {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  .content-list-menu {
    text-align: center;
  }
}