<div class="content-second-footer">
  <div class="container container-footer-info">
    <div class="row">
      <div class="col-md-12 col-lg-5 mt-5 mt-md-0 text-center content-text-menu">
        <h2 class="text-center">Explora</h2>
        <div class="row mt-4">
          <div class="col-12 col-sm-6 col-lg-3">
            <ul class="list-unstyled">
              <li>
                <a href="/categoria/accesorios" class="text-decoration-none item-list-footer">Accesorios</a>
              </li>
              <li>
                <a href="/categoria/canas" class="text-decoration-none item-list-footer">Cañas</a>
              </li>
              <li>
                <a href="/categoria/carretes" class="text-decoration-none item-list-footer">Carretes</a>
              </li>
              <li>
                <a href="/categoria/combos" class="text-decoration-none item-list-footer">Combos</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-sm-6 col-lg-3">
            <ul class="list-unstyled">
              <li>
                <a href="/categoria/kayaks" class="text-decoration-none item-list-footer">Kayaks</a>
              </li>
              <li>
                <a href="/categoria/lineas" class="text-decoration-none item-list-footer">Líneas</a>
              </li>
              <li>
                <a href="/categoria/senuelos" class="text-decoration-none item-list-footer">Señuelos</a>
              </li>
            </ul>
          </div>
          <div class="col-12 col-lg-6 mb-md-3 mb-lg-0">
            <ul class="list-unstyled">
              <li>
                <a href="/trofeos" class="text-decoration-none item-list-footer">Sala de trofeos</a>
              </li>
              <li>
                <a href="/acerca" class="text-decoration-none item-list-footer">Acerca de nosotros</a>
              </li>
              <li>
                <a href="/blog" class="text-decoration-none item-list-footer">Blog</a>
              </li>
              <li>
                <a href="/torneos" class="text-decoration-none item-list-footer">Torneos</a>
              </li>
              <li>
                <a href="/contratos" class="text-decoration-none item-list-footer">
                  Términos & condiciones y aviso de privacidad
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-lg-3 mt-5 mt-md-0 mb-md-5 mb-lg-0 text-center content-text-footer">
        <a href="/contacto" class="text-decoration-none item-list-footer">
          <h2>Encuéntranos en:</h2>
        </a>
        <ul class="list-unstyled">
          <li>
            <a href="https://goo.gl/maps/vmqjFaAtS1WDLUe69" class="text-decoration-none item-list-footer" target="_blank">
              <h3><small><i class="fa fa-map-marked-alt"></i> Mérida </small></h3>
            </a>
          </li>
          <li>
            <a href="https://goo.gl/maps/wa1GGd6joKx7Pk3d7" class="text-decoration-none item-list-footer" target="_blank">
              <h3><small><i class="fa fa-map-marked-alt"></i> Veracruz</small></h3>
            </a>
          </li>
        </ul>
      </div>
      <div class="col-md-6 col-lg-4 mt-5 mt-md-0 mb-md-5 mb-lg-0 text-center content-text-footer">
        <h2>Contáctanos</h2>
        <ul class="list-unstyled">
          <li>
            <h3><small><i class="fab fa-whatsapp"></i> +52 56 000 00 0</small></h3>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
