<div class="fondo-multiple">
  <a class="box box-1" href="/categoria/accesorios"></a>
  <a class="box box-2" href="/categoria/canas"></a>
  <a class="box box-3" href="/categoria/carretes"></a>
  <a class="box box-2" [ngStyle]="{ flex: hover==true ? 1 : 6 }" (mouseover)="hover=false" (mouseleave)="hover=true" href="/categoria/combos"></a>
  <a class="box box-3" href="/categoria/kayaks"></a>
  <a class="box box-4" href="/categoria/lineas"></a>
  <a class="box box-1" href="/categoria/senuelos"></a>
</div>