<div class="container pb-5" id="storesSection">
    <div class="row">
      <div class="col-12">
        <h2>Tienda fisica</h2>
      </div>
    </div>
    <div class="row pt-5">
      <div #gmap style="width:100%;height:400px"></div>
    </div>
    <div class="row mt-5 content-stores">
      <div class="col-md-6">
        <address>
          <h3><strong>Sucursal Veracruz</strong></h3>
          <hr class="line-contact">
          <em>FECEGO Marina</em> <br>
          Díaz Mirón 5 C.P. 93620 San Rafael, Veracruz. <br>
          <i class="fa fa-phone"></i> 01 232 324 9060 Ext. 123
        </address>
      </div>
      <div class="col-md-6 mt-3 mt-md-0">
        <address>
          <h3><strong>Sucursal Mérida</strong></h3>
          <hr class="line-contact">
          <em>Yellowtail</em> <br>
          Andrés García Lavín 307 C.P. 97117 San Ramón Norte <br>
          Mérida, Yucatán.
        </address>
      </div>
    </div>
  </div>
  