<div id="storesSection">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h2>Tiendas físicas</h2>
      </div>
    </div>
    <div class="row mt-3 content-stores">
      <div class="col-md-6">
        <div class="row p-3">
          <div #gmap class="map-store"></div>
        </div>
        <address>
          <h3><strong>Sucursal Veracruz</strong></h3>
          <hr class="line-contact">
          <em>FECEGO Marina</em> <br>
          Díaz Mirón 5 C.P. 93620 San Rafael, Veracruz. <br>
          <i class="fa fa-phone"></i> 01 232 324 9060 Ext. 123
        </address>
      </div>
      <div class="col-md-6 mt-3 mt-md-0">
        <div class="row p-3">
          <div #mmap class="map-store"></div>
        </div>
        <address>
          <h3><strong>Sucursal Mérida</strong></h3>
          <hr class="line-contact">
          <em>Yellowtail</em> <br>
          Andrés García Lavín 307 C.P. 97117 San Ramón Norte <br>
          Mérida, Yucatán.
        </address>
      </div>
    </div>
  </div>
</div>
  