<div class="grid">

  <div class="grid-item grid-item--width6 grid-item--height6">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
    <div class="content">This is my div</div>
  </div>
  <div class="grid-item grid-item--width4 grid-item--height4">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
  </div>
  <div class="grid-item grid-item--width4 grid-item--height2">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
  </div>

  <div class="grid-item grid-item--width4 grid-item--height5">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
  </div>
  <div class="grid-item grid-item--width6 grid-item--height5">
    <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/82/submerged.jpg" />
  </div>
  
</div>

