/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/default/default-theme';

@font-face {
    font-family: "Asap-Regular";
    src: url("/assets/fonts/Asap-Regular.ttf");
}
@font-face {
    font-family: "Asap-Medium";
    src: url("/assets/fonts/Asap-Medium.ttf");
}

body{
    padding-top: 7rem;
}
body, p {
    font-family: "Asap-Regular"!important;
}
body .container {
    padding-top: 3%;
    padding-bottom: 3%;
}
body .container:not(.container-trophies) {
    min-height: 80vh;
}
@media (max-width: 705px) {
    body .container {
        padding-top: 20%;
        padding-bottom: 5%;
    }
}
@media (min-width: 2500px) {
    body .container:not(.container-trophies) {
        height: 89vh;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Asap-Medium"!important;
}
.pointer {
    cursor: pointer;
}
div.error-message-form {
    padding: 0.3em 0.4em!important;
    margin-top: 0.3em!important;
}
.section-shop-product {

    background-color: rgba(255, 255, 255, 0)!important;
    border-color: rgba(255, 255, 255, 0.23921568627450981)!important;
}
.btn-circle-shop-product {
    border-radius: 50px!important;
    height: 1.7rem;
    width: 1.7rem;
    padding: 0px!important;
}
.btn-productToCart-shop-product {
    border-top-left-radius: 0px!important;
    border-top-right-radius: 0px!important;
}
.modal-content {
    background-color: rgba(255, 255, 255, 0)!important;
    border: none!important;
}
.modal-content app-modal-address .container,
.modal-content app-modal-product .container, 
.modal-content app-modal-tax .container,
.modal-content app-modal-user .contentRegister-login  {
    background-color: #ffffff!important;
    border: 1px solid rgba(0,0,0,.2);
    border-radius: 15px;
}
.text-yellow {
    color: #FBDF3E!important;
}
a.text-yellow:hover {
    color:  #ffcc33!important;
}
.btn-warning {
    background-color: #FBDF3E!important;
    border-color: #FBDF3E!important;
}
.btn-warning:hover {
    background-color: #ffcc33!important;
    border-color: #ffcc33!important;
}
.btn-outline-warning {
    color: #FBDF3E!important;
    border-color: #FBDF3E!important;
}
.btn-outline-warning:hover {
    color: #212529!important;
    background-color: #FBDF3E!important;
    border-color: #FBDF3E!important;
}
.dropdown-item.active, .dropdown-item:active {
    background-color: #FBDF3E!important;
}
div.row div.item-product {
    border-right: 1px solid rgba(216, 218, 214, 0.58);
}
div.row div.item-product:last-child,
div.row div.item-product:nth-child(4n) {
    border: 0px;
}
@media (max-width: 991px) and (min-width: 576px) {
    div.row div.item-product:nth-child(2n) {
        border: 0px;
    }
}
@media (max-width: 575px) {
    div.row div.item-product {
        border: 0px;
    }
}

.message-error-form {
    background-color: rgba(255, 255, 255, 0);
    font-size: 12px;
    margin: 0.5rem 0;
    color: #9f3a38!important;
    font-weight: bold;
    border: 1px solid rgba(159, 58, 56, 0.45098039215686275)!important;
}

/* INPUT DE BUSQUEDAD CARRUSEL */
div.search-input-carousel input.form-control,
div.search-input-carousel button.btn-outline-secondary,
/* INPUT DE BUSQUEDA NAVBAR */
li.search-input-navbar input.form-control,
li.search-input-navbar button.btn-outline-secondary {
    border-radius: 5px;
    background-color: rgba(255, 255, 255, 0.73);
}

div.search-input-carousel div.resulsContainer {
    width: 40vw;
    margin: auto;
}

li.search-input-navbar input.form-control:focus,
div.search-input-carousel input.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(174, 177, 179, 0.432)!important
}

.grid-item--height2 .content .content-items-thopies .content-chart {
    padding: 0 3%;
}
.grid-item--height2 .content .content-items-thopies .description-chart {
    margin-top: 0%;
}

@media (max-width: 767px) {
    .grid-item--height2 .content .content-items-thopies .content-chart .justify-content-center .img-item-chart,
    .grid-item--width4 .content .content-items-thopies .content-chart .justify-content-center .img-item-chart {
        display: none;
    }
}