/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/default/default-theme';

body{
    padding-top:9rem;
}
.pointer {
    cursor: pointer;
}

.modal-dialog {
    max-width: 80% !important;
}

/* INPUT DE BUSQUEDAD CARRUSEL */
div.search-input-carousel input.form-control,
div.search-input-carousel button.btn-outline-secondary {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.73);
}
div.search-input-carousel div.resulsContainer {
    width: 63%;
}

@media (max-width: 991px) and (min-width: 768px)  {
    div.search-input-carousel div.resulsContainer {
        width: 70%;
    }
}

/* INPUT DE BUSQUEDA NAVBAR */
li.search-input-navbar input.form-control,
li.search-input-navbar button.btn-outline-secondary {
    border: 0px!important;
    background: #21252900;
    border-bottom: 1px solid #dee2e68f!important;
    border-radius: 0px;
    color: #d0c3c3;
}
li.search-input-navbar input.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(174, 177, 179, 0.432)!important
}
div.search-input-carousel input.form-control:focus {
    box-shadow: 0 0 0 0.1rem rgba(85, 87, 88, 0.205)!important
}