/* You can add global styles to this file, and also import other style files */
@import '~@ngx-share/button/themes/default/default-theme';

body{
    padding-top:9rem;
}
.pointer {
    cursor: pointer;
}

.modal-dialog {
    max-width: 80% !important;
}

/* INPUT DE BUSQUEDAD CARRUSEL */
div.search-input-carousel input.form-control,
div.search-input-carousel button.btn-outline-secondary {
    border-radius: 15px;
    background-color: rgba(255, 255, 255, 0.73);
}
div.search-input-carousel div.resulsContainer {
    width: 63%;
}

@media (max-width: 991px) and (min-width: 768px)  {
    div.search-input-carousel div.resulsContainer {
        width: 70%;
    }
}