<div class="container">

  <div class="row">
    
    <div class="col-12 col-md-5 col-lg-6">
      <h3>Carrito de compra</h3>
      <p class="title-info"><i class="fa fa-angle-right"></i> Información</p>
      <p class="subtitle-info">user@gmail.com</p>

      <p class="title-info mt-3"><i class="fa fa-angle-right"></i> Tipos de envio</p>
      <div class="cart-content">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let type of shippingTypes">
              <input type="radio" name="shipping" value="{{type._id}}" [(ngModel)]="options.shipping"/> {{type.name}}
            </li>
          </ul>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-6">
          <p class="title-info"><i class="fa fa-angle-right"></i> Dirección de envío</p>
        </div>
        <div class="col-6  text-right">
          <button class="btn btn-outline-warning" (click)="newAddress()">Agregar dirección</button>
        </div>
      </div>

      <div class="cart-content mt-1">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let address of addresses">
              <input type="radio" name="address" value="{{address._id}}" [(ngModel)]="options.address"/> {{formatAdress(address)}}
            </li>
          </ul>
        </div>
      </div>

      <p class="title-info mt-3"><i class="fa fa-angle-right"></i> Forma de pago</p>
      <div class="cart-content">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item" *ngFor="let type of paymentTypes">
              <input type="radio" name="payment" value="{{type._id}}" [(ngModel)]="options.payment"/> {{type.name}}
            </li>
          </ul>
        </div>
      </div>

      <p class="title-info mt-3"><i class="fa fa-angle-right"></i> Facturación</p>
      <div class="card mb-5">
        <div class="card-header">
          <input type="checkbox" name="payment" (change)="changeTaxContainer()" /> Quiero factura
        </div>
        <div *ngIf="showTaxContainer">
          <div class="cart-content">
            <ul class="list-group list-group-flush" >
              <li class="list-group-item" *ngFor="let taxInformation of taxInformations">
                <input type="radio" name="tax" value="{{taxInformation.rfc}}" [(ngModel)]="options.taxInformation"/> {{formatTaxInformation(taxInformation)}}
              </li>
            </ul>
          </div>
          <button class="btn btn-outline-warning btn-block" (click)="newTaxInformation()">Agregar nueva informacion de facturación</button>
        </div>
      </div>
    
    </div>
    
    <div class="col-12 col-md-7 col-lg-6">
      <div class="row">
        <div class="col-6">
          <h3>Pedido</h3>
        </div>
        <div class="col-6 text-right">
          <a href="/carrito">Modificar compra</a>
        </div>
      </div>

      <div class="row">
        <div class="card">
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              <app-checkout-product [product]="product" *ngFor="let product of products"></app-checkout-product>
            </li>
            <li class="list-group-item">
              <div class="row">
                <div class="col-8 col-sm-9">
                  <p class="section-card">Subtotal</p>
                </div>
                <div class="col-4 col-sm-3 text-center">
                  <p>345</p>
                </div>
              </div>
              <div class="row">
                <div class="col-8 col-sm-9">
                  <p class="section-card">Envio</p>
                </div>
                <div class="col-4 col-sm-3 text-center">
                  <p>234</p>
                </div>
              </div>
              <div class="row">
                <div class="col-8 col-sm-9">
                  <p class="section-card">Descuento </p>
                </div>
                <div class="col-4 col-sm-3 text-center">
                  <p>545</p>
                </div>
              </div>
              <div class="row">
                <div class="col-8 col-sm-9">
                  <p class="section-card">Total</p>
                </div>
                <div class="col-4 col-sm-3 text-center">
                  <p>645</p>
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col-12">
          <button class="float-right btn btn-warning btn-lg" (click)="completePurchase()">Pagar</button>
        </div>
      </div>

      <div class="row mt-3 mb-5">
        <div class="col-12">
          <a href="#" class="content-tutorial">
            <div class="card border-warning">
              <div class="row no-gutters">
                <div class="col-md-4 content-tutorial-img">
                  <i class="fa fa-pencil-ruler fa-5x"></i>
                </div>
                <div class="col-md-8 text-right">
                  <div class="card-body">
                    <h2 class="card-title">Tutorial de compra</h2>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      </div>

      <div class="row text-right mb-5">
        <div class="col-sm">
          <address>
            <strong>¿Necesitas ayuda? Escríbenos</strong>
            <br>
            <a href="soporte@yellowtaulpesca.com">soporte@yellowtaulpesca.com</a> o al
            <br>
            <abbr title="phone">P:</abbr> (55) 6784 4566
          </address>
        </div>
      </div>
      
    </div>

  </div>

</div>