<section class="bg-principales">
  <div class="container-fluid">
    <div class="row pt-5 pb-5">
      <!--PRODUCTO-->
      <div class="col">
        <img src="../../../assets/principal/SR15000.png" alt="">
      </div>
      <!--TEXTO-->
      <div class="col text-light">
        <p class="display-2 text-center">Sean Raven</p>
        <p class="display-3 text-center">SR1500</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa et necessitatibus quasi doloribus voluptatum temporibus aspernatur praesentium saepe ducimus, quisquam perspiciatis maxime, minus atque molestiae aliquid sed, quo at.</p>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa et necessitatibus quasi doloribus voluptatum temporibus aspernatur praesentium saepe ducimus, quisquam perspiciatis maxime, minus atque molestiae aliquid sed, quo at.</p>
      </div>
    </div>
  </div>
</section>

