<section class="bg-principales">
  <div class="container">
    <!--PRIMER APARTADO-->
    <div class="row pt-5 pb-5">
      <!--PRODUCTO-->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <img class="img-fluid" src="../../../assets/img/principal/SR15000.png" alt="">
      </div>
      <!--TEXTO-->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-light">
        <p class="display-2 text-center">Sean Raven</p>
        <p class="display-3 text-center">SR1500</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa et necessitatibus quasi doloribus voluptatum temporibus aspernatur praesentium saepe ducimus, quisquam perspiciatis maxime, minus atque molestiae aliquid sed, quo at.</p>
        <p class="text-muted">Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa et necessitatibus quasi doloribus voluptatum temporibus aspernatur praesentium saepe ducimus, quisquam perspiciatis maxime, minus atque molestiae aliquid sed, quo at.</p>
        <button class="btn btn-primary">Comprar</button>
      </div>
    </div>
    <!--SEGUNDO APARTADO-->
    <div class="row pt-5 pb-5">
      <!--TEXTO-->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-light text-right">
        <p class="">Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa et necessitatibus quasi doloribus voluptatum temporibus aspernatur praesentium saepe ducimus, quisquam perspiciatis maxime, minus atque molestiae aliquid sed, quo at.</p>
        <button class="btn btn-primary">Comprar</button>
      </div>
      <!--PRODUCTO-->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <img class="img-fluid" src="../../../assets/img/principal/SR1200.png" alt="">
      </div>
    </div>
    <!--TERCER APARTADO-->
    <div class="row pt-5 pb-5">
      <!--PRODUCTO-->
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 text-light">
        <img class="img-fluid d-block" src="../../../assets/img/principal/SR13000.png" alt="">
      </div>
      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12">
        <p class="text-light">Lorem ipsum dolor sit amet consectetur adipisicing elit. A culpa et necessitatibus quasi doloribus voluptatum temporibus aspernatur praesentium saepe ducimus, quisquam perspiciatis maxime, minus atque molestiae aliquid sed, quo at.</p>
        <button class="btn btn-primary">Comprar</button>
      </div>
    </div>
  </div>
</section>

